<!DOCTYPE html>
<html>
<head>
  <title>Delete Student from program</title>
</head>
<body>
  <p>Please, type in the name of the student you want to delete</p>
    <form action="/students/delete" method="POST">
    <input type="text" name="name" placeholder="Name">
    <button type="submit">Delete</button>
  </form>
</body>
</html>